<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Eneba ecommerce" parallel="methods" thread-count="4">
    <test name="Test Cases">
        <classes>
            <class name="pom.tests.eneba.HomePagePopupTest"/>
            <class name="pom.tests.eneba.LoginTest"/>
            <class name="pom.tests.eneba.MarketplaceFilterTest"/>
            <class name="pom.tests.eneba.ShoppingCartTest"/>
        </classes>
    </test>
</suite>